@use "@/css/mixins" as *;

.about-bg-content {
  min-height: 100vh;
  height: 100%;
  background-image: url("/images/wkoistudio_profile.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-highlited-experience {
  background-color: var(--footer-background);
  color: white;
}

.about-highlited-experience-divider {
  border-color: var(--primary);
  width: 60px;
  border-width: 2px;
}

.about-form-section {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -30px;
    background-image: url("/images/william_koi_avatar_contact.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include breakpoint(sm) {
      width: 150px;
      height: 150px;
    }

    @include breakpoint(md) {
      width: 150px;
      height: 150px;
    }
    @include breakpoint(lg) {
      width: 250px;
      height: 250px;
    }
    @include breakpoint(xl) {
      width: 250px;
      height: 250px;
    }
    @include breakpoint(2xl) {
      width: 250px;
      height: 250px;
    }
  }
}

.about-footer-content {
  position: relative;
  @include breakpoint(sm) {
    &:after {
      content: "";
      height: 5px;
      width: 15%;
      background-color: var(--primary);
      position: absolute;
      left: 0;
      margin-top: 15px;
    }
  }

  @include breakpoint(md) {
    &:after {
      content: "";
      height: 5px;
      width: 15%;
      background-color: var(--primary);
      position: absolute;
      left: 0;
      margin-top: 15px;
    }
  }
}
