.about-bg-content {
  min-height: 100vh;
  height: 100%;
  background-image: url("/images/wkoistudio_profile.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-highlited-experience {
  background-color: var(--footer-background);
  color: white;
}

.about-highlited-experience-divider {
  border-color: var(--primary);
  width: 60px;
  border-width: 2px;
}
