.projects-header {
  background-image: radial-gradient(
    ellipse at center center,
    rgb(227, 82, 6) 0%,
    rgb(211, 0, 0) 100%
  );
  height: calc(100vh - 78.82px);

  &:before {
    content: "";
    opacity: 0.3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    background-image: url("/images/wkoistudio_bg.webp");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    animation: slideLight 60s linear infinite;
    z-index: 0;
  }

  .projects-title {
    font-size: 6rem;
  }
  .projects-description {
    font-size: 1.2rem;
    width: 80%;
  }
}

@keyframes slideLight {
  0% {
    opacity: 0;
    background-position: 50% 0;
    /* Start from the top */
  }

  10% {
    opacity: 0.5;
  }

  90% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
    background-position: -50% 100%;
    /* Scroll to the bottom */
  }
}
