.navLink {
  color: var(--text-base);
  transition: color 0.2s ease-in-out;
  &.active {
    font-weight: 600;
  }
}

.cvButton {
  background-color: var(--primary);
  color: white;
  margin-left: 10px;
}
