@use "../../css/mixins" as *;
@use "../../css/variables" as *;

.services-header {
  background-image: radial-gradient(
    ellipse at center center,
    rgb(227, 82, 6) 0%,
    rgb(211, 0, 0) 100%
  );
  height: calc(100vh - 78.82px);

  .services-title {
    font-size: 4rem;
    @include breakpoint(lg) {
      font-size: 4rem;
    }
    @include breakpoint(xl) {
      font-size: 5rem;
    }
    @include breakpoint(2xl) {
      font-size: 6rem;
    }
  }
  .services-description {
    width: 80%;

    @include breakpoint(md) {
      font-size: 1rem;
    }
    @include breakpoint(lg) {
      font-size: 1rem;
    }
    @include breakpoint(xl) {
      font-size: 1.1rem;
    }
    @include breakpoint(2xl) {
      font-size: 1.2rem;
    }
  }
  .services-header-content {
    @include breakpoint(md) {
      p {
        font-size: 1rem;
      }
    }
    @include breakpoint(lg) {
      p {
        font-size: 1rem;
      }
    }
    // @include breakpoint(xl) {
    //   p {
    //     font-size: 1rem;
    //   }
    // }
  }
}

.services-bg-content {
  min-height: 100vh;
  height: 100%;
  &.dev-bg-content {
    background-image: url("/images/wkoistudio_dev.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.design-bg-content {
    background-image: url("/images/wkoistudio_design.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
